<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UnitConverterBlzrSrv</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Length
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="temperature">
                <span class="oi oi-arrow-right" aria-hidden="true"></span> Temperature
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weight">
                <span class="oi oi-arrow-right" aria-hidden="true"></span> Weight
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gallon">
                <span class="oi oi-arrow-right" aria-hidden="true"></span> Gallon
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
